@import "bootstrap";

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(155, 133, 133);
}

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  // font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbo-copy.jpg') ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#sticky-footer {
  flex-shrink: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}
